# see: https://pnpm.io/next/npmrc#auto-install-peers
auto-install-peers=true

# @repo/storybook-config
public-hoist-pattern[]=@testing-library/*
public-hoist-pattern[]=*storybook*
public-hoist-pattern[]=jsdom
public-hoist-pattern[]=nyc
public-hoist-pattern[]=playwright

# @repo/tailwind-config
public-hoist-pattern[]=tailwindcss

# @repo/tsup-config
public-hoist-pattern[]=tsup

# @repo/vite-config
public-hoist-pattern[]=@vitejs/plugin-react
public-hoist-pattern[]=vite
public-hoist-pattern[]=vite-tsconfig-paths

# @fuf-stack/project-cli-tools
public-hoist-pattern[]=@commitlint*
public-hoist-pattern[]=@lerna-lite*
public-hoist-pattern[]=commitizen
public-hoist-pattern[]=cz-conventional-changelog
public-hoist-pattern[]=husky
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=nodemon
public-hoist-pattern[]=turbo
public-hoist-pattern[]=wait-on

# @fuf-stack/eslint-config-fuf
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

# @fuf-stack/vitest-config
public-hoist-pattern[]=vitest*
public-hoist-pattern[]=@vitest/coverage-istanbul
