.wrapper {
  :global {
    .variable-row .copy-to-clipboard-container,
    .object-meta-data .copy-to-clipboard-container {
      display: inline-block;
      visibility: hidden;
    }

    .object-meta-data:hover,
    .variable-row:hover,
    .object-key-val > span:hover {
      .copy-to-clipboard-container {
        visibility: visible;
      }
    }
  }
}
